schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assicurati">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="assicurato" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nome"/>
              <xs:element type="xs:string" name="cognome"/>
              <xs:element type="xs:date" name="datanascita"/>
              <xs:element type="xs:float" name="nuovisinistri"/>
              <xs:element type="xs:string" name="codicefiscale"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>